body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    padding: 20px;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    border-top: 2px solid #333; /* Change color as needed */
    padding: 10px;
    text-align: center;
}